/* Réinitialisation des marges et des rembourrages */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Style général */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0; /* Couleur de fond générale */
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem;
    margin: 1rem 0;
    background: #fff;
    border-radius: 8px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

/* Style de la bannière */
.banner {
    background-image: url('étoilé.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.banner-content h1 {
    color: #fff;
}

.banner-content p {
    color: #fff;
    font-size: 1.2rem;
}

